<div class="flex flex-col p-8 max-w-screen-lg w-full mx-auto">
  <div class="flex justify-start items-center mb-10">
    <a id="back-button" href="/" class="text-4xl me-4">⬅️</a>
    <h1 id="letter-heading" class="text-5xl">{{ letter }}</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    @for (word of words; track $index) {
    <div class="word-item flex flex-row items-center">
      <span class="emoji text-3xl" aria-hidden="true">{{ word.emoji }}</span>
      <app-word
        [word]="word.word"
        [classes]="'text-4xl p-4 rounded'"
      ></app-word>
    </div>
    }
  </div>
</div>

