<div class="flex justify-center items-start">
  <div class="p-4 w-full max-w-screen-lg">
    <div class="grid mb-10">
      <div class="flex justify-between w-100 items-center">
        <app-word
          [word]="currentInput ? currentInput : placeholder"
          class="text-5xl"
        ></app-word>
        @if (currentInput) {<button class="text-2xl" (click)="onEraseWord()">
          ❌</button
        >}
      </div>
    </div>
    <div class="grid grid-cols-4 gap-5 md:grid-cols-5 lg:grid-cols-6 mt-4">
      @for (letter of alphabet; track $index) {
      <button
        (mousedown)="startPressTimer(letter)"
        (touchstart)="startPressTimer(letter)"
        (mouseup)="endPressTimer()"
        (touchend)="endPressTimer()"
        class="p-4 rounded text-4xl"
        (click)="onLetterClick(letter)"
        [class.bg-gray-100]="selectedLetter !== letter"
        [class.bg-blue-600]="selectedLetter === letter"
        [class.text-white]="selectedLetter === letter"
        [class.font-bold]="selectedLetter === letter"
        (contextmenu)="$event.preventDefault()"
      >
        {{ letter }}
      </button>
      }
    </div>
  </div>
</div>
